<h1>
  <%= @user.org_name%>
  <% if @user == current_user %>
  <%= link_to glyph(:pencil), edit_user_path(@user) %>
<% end %>
</h1>
<p> Email: <%= @user.email %> </p>
<p> Country: <%= @user.zip_code %> </p>
