<% @action_takers.each do |signer| %>
  <div class="action-takers">
    <p><%= signer.first_name %> <%= signer.last_name %>, <%= signer.country %></p>
    <small>Signed <%= ((Time.now - signer.created_at)/(60*60)*10).ceil/10 %> hours ago</small>
  </div>
<% end %>
