<select name="campaign[category]" id="campaign_category" class="form-label">
  <option value="Arts and Culture">Arts and Culture</option>
  <option value="Children and Youth">Children and Youth</option>
  <option value="Civil Liberties">Civil Liberties</option>
  <option value="Civil Rights">Civil Rights</option>
  <option value="Conservation">Conservation</option>
  <option value="Disaster Relief and Humanitarian">Disaster Relief and Humanitarian</option>
  <option value="Disease and Medical Research">Disease and Medical Research</option>
  <option value="Early Childhood Education">Early Childhood Education</option>
  <option value="Education Policy">Education Policy</option>
  <option value="Environmental Conservation and Protection">Environmental Conservation and Protection</option>
  <option value="Higher Education">Higher Education</option>
  <option value="Hunting and Fishing Conservation">Hunting and Fishing Conservation</option>
  <option value="Intellectual and Developmental Disabilities">Intellectual and Developmental Disabilities</option>
  <option value="International Development">International Development</option>
  <option value="LGBT Rights">LGBT Rights</option>
  <option value="Medical Services and Treatment">Medical Services and Treatment</option>
  <option value="Mental Health">Mental Health</option>
  <option value="Patient and Family Support">Patient and Family Support</option>
  <option value="Pet and Animal Welfare">Pet and Animal Welfare</option>
  <option value="Peace and Human Rights">Peace and Human Rights</option>
  <option value="Public Broadcasting Media">Public Broadcasting Media</option>
  <option value="Public Policy">Public Policy</option>
  <option value="Senior Citizens">Senior Citizens</option>
  <option value="Wildlife Conservation">Wildlife Conservation</option>
  <option value="Women's Rights">Women's Right</option>
</select>
