<h1>Campaigns</h1>

<div class="campaigns-list">
  <% @campaigns.each do |cmpgn| %>
    <%= image_tag(cmpgn.image_url(:thumb).to_s) %>
    <p><%= link_to cmpgn.campaign_title, campaign_path(cmpgn) %></p>
  <% end %>
</div>
