<h1>Campaigns</h1>

<div class="campaigns-list">
  <% @campaigns.each do |cmpgn| %>
   <h3><%= link_to cmpgn.campaign_title, campaign_path(cmpgn), :class => "campaign-title" %></h3>
    <p>
      <%= image_tag(cmpgn.image_url.to_s, width: '300px') %>
    </p>
  <% end %>
</div>

<%= will_paginate @posts %>
