<h1>
  <%= @campaign.campaign_title %>
  <% if @campaign.user == current_user %>
    <%= link_to edit_campaign_path(@campaign) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</h1>
<p><%= @campaign.description %></p>
