/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require tether
 *= require tether-theme-basic
 *= require tether-theme-arrows
 *= require tether-theme-arrows-dark
 *= require_tree .
 *= require_self
 */

 /* FONTS!
 font-family: 'Poppins', sans-serif;
 font-family: 'Muli', sans-serif;
 font-family: 'Nixie One', cursive;
 */
@import url('https://fonts.googleapis.com/css?family=Muli|Poppins|Nixie+One');

@media only screen and (max-device-width: 480px) {
  * {
    width: 100%
  }
}

/* container! */
.container {
  margin: 15px 20px 0 50px;
}

/* navbar! */
ul.nav-links, .nav-links li a {
  font-size: 15px;
  text-align: center;
}

li.nav-item {
  margin: 0 20px;
}

/* general forms! */
.form {
  border: 1px solid;
  border-color: #ad4574;
  text-align: center;
}

textarea {
  width: 90%;
  height: 200px;
}

input, select, .submit-btn {
  position: relative;
  margin-bottom: 10px;
  width: 90%;
  border-style: hidden;
  background: #fff;
}

input {
  border: 1px solid;
  height: 35px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

input#campaign_image {
  border: none;
}

.submit-btn, select {
  border: 1px solid;
}

.submit-btn {
  margin-top: 15px;
  background-color: #ae6d8b;
  color: #fff;
  border-color: #ad4574;
  font-family: 'Poppins', sans-serif;
  padding: 8px 0;
}

div.form-label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

select {
  background: #fff;
}

/* headers! */
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1.header {
  font-family: 'Nixie One', cursive;
  text-transform: capitalize;
  font-size: 55px;
}

h3.org_name, .campaign-title {
  text-align: left;
}

.tagline {
  text-align: center;
}

/* lists! */
li, a {
  list-style: none;
  color: #545454;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: inline-block;
}

/* campagins and action forms! */
.action-form {
  float: right;
  background-color: #fcf6e3;
  padding-left: 25px;
}

.CTA {
  padding: 0 12px 30px 12px;
  margin-left: -25px;
}

@media (min-width:100px) {
  .action-form {
    width: 300px;
    margin-top: 15px;
  }
  .CTA {
    font-size: 18px;
  }
}

@media (min-width:500px) {
  .cmpgn-descrip, .cmpgn-tgt, .campaign-title {
    width: 100%;
  }
}

.cmpgn-descrip {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
}

.cmpgn-tgt {
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* user profile! */
p.user-info, small, .tagline {
  font-family: 'Muli', sans-serif;
}

small, .tagline {
  color: #ae6d8b;
}

input#campaign_image {
  height: 100%;
}

/* special icons! */
.add-new {
  width: 15px;
}

.profile-icon {
  height: 30px;
}

.petition-icon {
  height: 50px;
}

.csv-icon {
  height: 30px;
}

/* footer! */
.footer {
  position: relative;
  clear:both;
  padding:20px 0;
  font-family: 'Muli', sans-serif;
}
