/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require tether
 *= require tether-theme-basic
 *= require tether-theme-arrows
 *= require tether-theme-arrows-dark
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';

 /* FONTS!
 font-family: 'Poppins', sans-serif;
 font-family: 'Muli', sans-serif;
 font-family: 'Nixie One', cursive;
 */

@media only screen and (max-device-width: 480px) {
  * {
    width: 100%
  }
}

/* navbar! */
ul.nav-links, .nav-links li a {
  font-size: 15px;
  border-radius: 0;
}

li.nav-item {
  margin: 0 30px;
}

div.navbar {
  margin: 40px 0 50px 0;
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0px 0px 0px 0px;
  border-color: #2B3A42;
  background-color: #FFF;
}

/* general forms! */
.form {
  padding-top: 15px;
  border: 1px solid;
  border-color: #3F5765;
  text-align: center;
  background-color: #EFEFEF;
}

textarea {
  width: 90%;
  height: 200px;
  border-color: #BDD4DE;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

input, select, .submit-btn {
  position: relative;
  margin-bottom: 10px;
  width: 90%;
  border-style: hidden;
  background: #fff;
  font-size: 14px;
}

input {
  border: 1px solid;
  border-color: #BDD4DE;
  height: 35px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

input#campaign_image {
  border: none;
}

.submit-btn, select {
  border: 1px solid;
  border-color: #BDD4DE;
}

.submit-btn {
  margin: 15px 0;
  background-color: #2B3A42;
  color: #fff;
  border-color: #BDD4DE;
  font-family: 'Poppins', sans-serif;
  height: 50px;
}

div.form-label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  text-align: left;
}

select {
  background: #fff;
}

/* headers! */
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h1.header {
  font-family: 'Nixie One', cursive;
  text-transform: capitalize;
  font-size: 55px;
  margin-top: 50px;
}

.campaign-title, .org_name {
  text-align: left;
}

h3.org_name {
  text-align: left;
  font-size: 35px;
}

h5 {
  text-align: left;
}

.tagline {
  text-align: center;
  font-size: 14px;
  color: #ae6d8b;
}

/* lists! */
li, a {
  list-style: none;
  color: #545454;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: inline-block;
}

/* campagins and action forms! */
.action-form {
  float: right;
  background-color: #EFEFEF;
  padding-left: 25px;
  padding-top: 15px;
}

.CTA {
  padding: 0 12px 30px 12px;
  margin-left: -25px;
}

@media (min-width:100px) {
  .action-form {
    width: 300px;
    margin-top: 15px;
  }
  .CTA {
    font-size: 18px;
  }
}

@media (min-width:500px) {
  .cmpgn-descrip, .cmpgn-tgt, .campaign-title {
    width: 100%;
  }
}

.cmpgn-descrip {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
}

.cmpgn-tgt {
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* user profile! */
p.user-info, small, .tagline {
  font-family: 'Muli', sans-serif;
}

p.user-info {
  font-size: 15px;
}

small {
  color: #2B3A42;
  font-size: 12px;
}

input#campaign_image {
  width: 100%
}

p {
  font-size: 15px;
}

span.badge.badge-default.badge-pill {
  font-size: 12px;
  padding: 10px;
}

/* special icons! */
.add-new {
  width: 15px;
}

.profile-icon {
  height: 45px;
  margin-bottom: -15px;
  margin-right: -10px;
}

.petition-icon {
  height: 60px;
  margin-bottom: -22px;
  margin-right: -10px;
}

.csv-icon {
  height: 30px;
}

/* footer! */
.footer {
  position: relative;
  clear:both;
  padding:20px 0;
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 15px;
  padding-top: 50px;
}

/* homepage-intro */
.about {
  background-color: #EFEFEF;
  padding: 30px;
  font-size: 15px;
  font-family: 'Muli', sans-serif;
}

.hp-btn {
  background-color: #FF530D;
  border-color: #FF530D;
  color: #FFF;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
}

/* flash messages! */
.flash {
  padding: 15px;
  background-color: #EFEFEF;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Muli', sans-serif;
}

/* pagination! */
.paginate {
  font-size: 20px;
  margin-top: 50px;
}

/* action takers! */
.action-takers {
  padding-bottom: 25px;
}
