<nav>
  <ul class="nav-links">
    <% if current_user %>
      <li><%= link_to "Log out", logout_path %></li>
    <% else %>
    <div class="left-nav">
      <li><%= link_to "Campaigns", campaigns_path %></li>
    </div>
    <div class="right-nav">
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    </div>
    <% end %>
  </ul>
  <hr>
</nav>
